@import "variables.css";

.hidden {
  display: none !important;
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  color: wheat;
  font-size: 20px;
  text-shadow: var(--text-shadow);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 200px;
  height: 20px;
}

.greeting {
  color: white;
  font-size: 60px;
  text-shadow: var(--text-shadow);
}

#clock {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100px;
  text-shadow: var(--text-shadow);
}

#quotes {
  margin-top: 200px;
  text-shadow: var(--text-shadow);
  font-size: 15px;
  color: white;
}
